In [ ]:
# Integer

In [ ]:
2000

In [ ]:
type(200)

In [ ]:
12.5

In [ ]:
type(12.5)

In [ ]:
# basic arithemetic

10+10

In [ ]:
4*3

In [ ]:
4/3

In [ ]:
4-1

In [ ]:
# floor division
4//3

In [ ]:
5//2

In [ ]:
# modulo
5%2

In [ ]:
4%3

In [ ]:
2500//40

In [ ]:
2500%40

In [ ]:
# raise to power 
2**4

In [ ]:
3**4

In [ ]:
# bodmas
1+3/10*6

In [ ]:
(1+3)/(10*6)

In [ ]:
(1+3)/10*6

In [ ]:
# variable assignment
income = 2000
income

In [ ]:
income +income

In [ ]:
income*income

In [ ]:
income**2

In [ ]:
income/2

In [ ]:
jeffery=income/100
jeffery

In [ ]:
# test calculator
f_test= 7
s_test= 20
attandance= 5
exam =27
total_score = f_test + s_test + attandance + exam
total_score

In [ ]:
# interactive test calculator
f_test= float(input('what is your first test score ?' ))
s_test= float(input('what is your second test score ?'))
attandance= float(input('what is your attendance ?'))
exam = float(input('what is your exam score ? '))
total_score = f_test + s_test + attandance + exam
total_score

In [ ]:
# strings 
"hello world"

In [ ]:
# double quotaion marks 
"he isn't my friend"

In [ ]:
# full name generator
first_name = "Geoffery"
last_name = "Joshua"
full_name = first_name + " " + last_name
full_name

In [ ]:
# interactive name generator
first_name = str(input ("what is your first name ? "))
last_name =str(input ("what is your last_name name ? "))
full_name = first_name + " " + last_name
full_name

In [ ]:
# indexing and slicing
full_name.upper()

In [ ]:
full_name[0]

In [ ]:
full_name[8]

In [ ]:
# slicing
full_name[0:8]

In [ ]:
full_name[9:]

In [ ]:
num=('123456789')
num

In [ ]:
num[0:5]

In [ ]:
num[5:]

In [ ]:
# negative indexing and slicing
num[-1]

In [ ]:
num[1::2]

In [ ]:
num[1::5]

In [ ]:
# for odd numbers
num[0::2]

In [1]:

# .format method
name = "Jeffery"
agge = 35
print ("my name is %s and i am %s years old " %(name,agge))

my name is Jeffery and i am 35 years old

In [2]:
# place holder method
name =input('what is your name ? ')
age = str(input('how old are you ? '))
print("my name is %s and i am %s years old" %(name,age))

what is your name ? jeffery
how old are you ? 12
my name is jeffery and i am 12 years old

In [ ]:
# f string
name = input('what is your name ? ')
age = input('how old are you ? ')
print(f"my name is {name} and i am {age} years old")

In [ ]:
# list
names=['jeffery','obi','buhari','nifemi','10gloria','10analytics']
names 
names.append('femi')
names.reverse()
names
names.sort()
names

In [ ]:
my_list=[1,2,'ok','dayo',8]
my_list

In [ ]:
type(my_list)

In [ ]:
my_list[0]

In [ ]:
# to add item to a list
my_list[0]=10
my_list

In [ ]:
my_list[4]

In [ ]:
my_list[0:3]

In [ ]:
my_list[1::2]

In [ ]:
# to add a name to my_list use .append
my_list.append('samuel')
my_list

In [ ]:
# to remove the last name added use the .pop
my_list.pop()
my_list

In [ ]:
# to re arrange the list fromright to left  we use the .reverse
my_list.reverse()
my_list

In [ ]:
# dictionaries
my_dict={"key1":"value1","key2":"value 2"}
my_dict

In [ ]:
my_dict.keys()

In [ ]:
my_dict.values()

In [ ]:
my_dict['key1']

In [ ]:
bio_data ={'name':'joshua','age':32,'place of birth':'ikorodu','phone number':'07065127866'}
bio_data

In [ ]:
bio_data['name']

In [ ]:
bio_data['place of birth']

In [ ]:
# to add anything to a dictionary
bio_data['colour']= 'black'
bio_data

In [ ]:
# you can add a list to a dictionary also
bio_data['my_siblins']= ['zino','bola','bola']
bio_data

In [ ]:
# to return a name from the list
bio_data['my_siblins']

In [ ]:
# to return the first name we make use of indexing
bio_data['my_siblins'][0]

In [ ]:
# tuple
tup=(2,5,'10Analytic','Gloria','geoffery')
tup

In [ ]:
type(tup)

In [ ]:
tup[0]

In [ ]:
tup[4]

In [ ]:
tup[-1]

In [ ]:
len(tup)

In [ ]:
tup[2]='nigeria'

In [ ]:
# set
num={1,2,2,3,4,4,4,4,6,6,7,7,88,8,8,89,0,10,23,56,77,89,99}
num

In [ ]:
names = ['ademola','sunday','orimolade','sunday','suluaiman','ademola','sunday','sunday']
u_name=set(names)
u_name

In [ ]:
u_name.add('einstein')
u_name

In [ ]:
len(u_name)

In [ ]:
# boolean
1==2

In [ ]:
type(1==2)

In [ ]:
'e'=='e'

In [ ]:
'geoffery'!='geoffery'

In [ ]:
type('geoffery'!='geoffery')

In [4]:
def sum_age(x,y):
    first_name=input('what is your name')
    age= input('what is your age')
    sum_age = x**2 + 7- y
    return sum_age
sum_age(2,5)

what is your nameyemi
what is your age12

6

In [9]:
def your_first_name():
    first_name=input ('enter your name  ')
    capitalize_first_name = first_name.upper()
    return capitalize_first_name
your_first_name()

enter your name  rice

'RICE'

In [23]:
list_1= [1,2,3,4,5,6,7,8,9,10]
for i in list_1:
    if i%2==0:
        print(f"{i} ---------is an even number")

2 ---------is an even number
4 ---------is an even number
6 ---------is an even number
8 ---------is an even number
10 ---------is an even number

In [18]:
list= [1,2,3,4,5,6,7,8,9,10]
sum_1 = 0
for i in list :
    sum_1 = sum_1 +i
    print(sum_1)

1
3
6
10
15
21
28
36
45
55